.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
  background-image: url('../img/grass.png');
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 55px;
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
#container {
  position: relative;
  width: 1920px;
  margin: 0 auto;
  height: 1080px;
}

#playingField {
  position: absolute;
  margin: 0 auto;
  display: block;
  z-index: 5;
}

#clock {
  position: absolute;
  z-index: 20;
  width: 94.3%;
  text-align: right;
  color: lightgrey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#scoreBoard {
  z-index: 20;
  position: absolute;
  width: 100%;
  text-align: center;
  color: lightgrey;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#textMessage {
  z-index: 20;
  text-align: center;
  position: absolute;
  font-size: 75px;
  width: 100%;
  top: 300px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}



.field {
  z-index: 10
}

.lines {
  position: absolute;
  top: 63px;
  left: 108px;
  width: 1698px;
  height: 948px;
  border: 3px solid white;
}


.circle {
  position: absolute;
  border-radius: 50%;
  top: 415px;
  left: 835px;
	width: 245px;
	height: 245px;
  border: 3px solid white;
}

.middleLine {
  position: absolute;
  height: 951px;
  top: 63px;
  left: 959px;
  border-left: 3px solid white;
}

.goalPost {
  position: absolute;
  border-radius: 50%;
	width: 20px;
	height: 20px;
  background-color: black;
}

.leftTop {
  top: 430px;
  left: 100px;
}

.leftBottom {
  top: 630px;
  left: 100px;
}

.rightTop {
  top: 430px;
  right: 100px;
}

.rightBottom {
  top: 630px;
  right: 100px;
}


.leftGoal {
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  top: 438px;
  left: 57px;
	width: 50px;
	height: 194px;
  border: 5px solid black;
  border-right: none;
}

.rightGoal {
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  top: 438px;
  right: 57px;
	width: 50px;
	height: 194px;
  border: 5px solid black;
  border-left: none;
}

.menu {
  z-index: 30;
  position: absolute;
  width: 1920px;
  height: 1080px;
  font-size: 20px;
  color: white;
}

.menuContainer {
  margin: 240px auto;
  background-color: rgba(0, 0, 0, 0.7);;
  border-radius: 30px;
  width: 1000px;
  height: 600px;
}

.menuHeadline {
  margin: 0;
  text-align: center;
  display: block;
  padding: 20px 0 0;
  font-size: 50px;
}

.menuDivider {
  margin: 10px 0;
}

.controllerBox {
  float: left;
  margin: 0 91px;
}

.controllerList {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 150px;
  height: 300px;
}

.listHeader {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.redTeam {
  color: red;
}

.blueTeam {
  color: blue;
}

.gamepad {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  background-image: url("../img/controller.png");
  background-size: contain;
}

.gamepadLabel {
  display: block;
  padding-top: 15px;
}

.double .pawn.second {
  left: 35px;
  display: block;
}

.double .pawn {
  left: 15px;
}

.pawn {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  left: 25px;
}

.blueTeam .pawn {
  background-color: blue;
}

.redTeam .pawn {
  background-color: red;
}

.pawn.second {
  display: none;
}
